@using SchoolProj.DLL.Shared
@using SchoolPro.shared.Consts
@using SchoolProj.Langauges;
@model SchoolProj.DLL.Model.ClassModel

@{
    ViewBag.Title = Localization.EditClass;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post" style="width:100%;padding:0% 5%">
    <h3 class="text text-danger">@ViewBag.ErrorMessage</h3>
    <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id.Value" />
    <div class="form-group">
        <label for="ClassNameAr">@Localization.ClassNameAr</label>
        <input type="text" value="@Model.ClassNameAr" class="form-control" id="ClassNameAr" placeholder="@Localization.PleaseEnter @Localization.ClassNameAr" name="@nameof(Model.ClassNameAr)" pattern="@CommonConst.FormatNameAr" maxlength="@ClassConsts.MaxClassNameLength" required>
        @Html.ValidationMessageFor(model => model.ClassNameAr, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="ClassNameEn">@Localization.ClassNameEn</label>
        <input type="text" value="@Model.ClassNameEn" class="form-control" id="ClassNameEn" placeholder="@Localization.PleaseEnter @Localization.ClassNameEn" name="@nameof(Model.ClassNameEn)" pattern="@CommonConst.FormatNameEn" maxlength="@ClassConsts.MaxClassNameLength">
        @Html.ValidationMessageFor(model => model.ClassNameEn, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label asp-for="@Model.MaterialsIds">@Localization.Materials</label>
        @Html.ListBoxFor(model => model.MaterialsIds, Model.MaterialItems, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.MaterialsIds, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary" style="margin-top:25px" type="submit">Save Changes</button>
    <a class="btn btn-secondary" style="margin-top:26px" href="@Url.Action("Index")">Back To List</a>
</form>

