@using SchoolProj.DLL.Shared
@using SchoolPro.shared.Consts
@using SchoolProj.DLL.Model;
@using SchoolProj.Langauges
@{
    ViewBag.Title = Localization.ResetPassword;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model ResetPasswordModel
<form onsubmit="return validatePassword()" method="post" style="width:100%;padding:0% 5%">
    <h3>@ViewBag.Message</h3>
    <input type="hidden" value="@Model.UserId" name="@nameof(Model.UserId)" contenteditable="false" />
    <h3 class="text text-danger">@ViewBag.ErrorMessage</h3>
    <div class="form-group">
        <label for="NewPassword">@Localization.NewPassword</label>
        <input type="password" class="form-control" id="NewPassword" placeholder="@Localization.PleaseEnter @Localization.NewPassword" name="@nameof(Model.NewPassword)" required maxlength="@PersonConsts.MaxPasswordLength">
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="ConfirmNewPassword">@Localization.ConfirmPassword</label>
        <input type="password" class="form-control" id="ConfirmNewPassword" placeholder="@Localization.PleaseEnter @Localization.ConfirmPassword" name="@nameof(Model.ConfirmNewPassword)" required maxlength="@PersonConsts.MaxPasswordLength">
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary" style="margin-top:25px" type="submit">@Localization.ResetPassword</button>
    <a class="btn btn-secondary back" style="margin-top:26px" href="@Url.Action("Index")">@Localization.BackToList</a>
</form>
<script>
    function validatePassword() {
        var newPassword = document.getElementById("NewPassword").value;
        var confirmPassword = document.getElementById("ConfirmNewPassword").value;

        if (newPassword !== confirmPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Passwords do not match'
            });
            return false;
        }
        return true;
    }
</script>