@using SchoolProj.Langauges
@{
    ViewBag.Title = Localization.AddTeacher;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using SchoolProj.DLL.Shared
@using SchoolPro.shared.Consts
@using SchoolProj.DLL.Model
@using SchoolProj.Enum;
@model TeacherModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form method="post" style="width:100%;padding:0% 5%">
    <h3 class="text text-danger">@ViewBag.ErrorMessage</h3>
    <div class="form-group">
        <label for="UserName">@Localization.Email</label>
        <input type="email" value="@Model.UserName" class="form-control" id="UserName" placeholder="@Localization.PleaseEnter @Localization.Email" name="@nameof(Model.UserName)" required maxlength="@PersonConsts.MaxUserNameLength" pattern="@PersonConsts.EmailFormat">
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Password">@Localization.Password</label>
        <input type="password" value="@Model.Password" class="form-control" id="Password" placeholder=" @Localization.PleaseEnter @Localization.Password" name="@nameof(Model.Password)" required pattern="@PersonConsts.PasswordFormat" maxlength="@PersonConsts.MaxPasswordLength">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="FullNameAr">@Localization.FullNameAr</label>
        <input type="text" value="@Model.FullNameAr" class="form-control" id="FullNameAr" placeholder="@Localization.PleaseEnter @Localization.FullNameAr" name="@nameof(Model.FullNameAr)" required pattern="@CommonConst.FormatNameAr" maxlength="@ClassConsts.MaxClassNameLength" />
        @Html.ValidationMessageFor(model => model.FullNameAr, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="FullNameEn">@Localization.FullNameEn</label>
        <input type="text" value="@Model.FullNameEn" class="form-control" id="FullNameEn" placeholder="@Localization.PleaseEnter @Localization.FullNameEn" name="@nameof(Model.FullNameEn)" pattern="@CommonConst.FormatNameEn" maxlength="@ClassConsts.MaxClassNameLength">
        @Html.ValidationMessageFor(model => model.FullNameEn, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Gender">@Localization.Gender</label>
        <select class="form-select" id="Gender" name="@nameof(Model.Gender)" required>
            <option value="@((int)Gender.Male)" @(Model?.Gender == (int)Gender.Male ? "selected" : "")>@(Gender.Male)</option>
            <option value="@((int)Gender.Female)" @(Model?.Gender == (int)Gender.Female ? "selected" : "")>@(Gender.Female)</option>
        </select>
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="MaterialId">@Localization.MaterialName</label>
        @Html.DropDownListFor(model => model.MaterialId, new SelectList(Model.Materials, "Value", "Text"), "Please select", new { @class = "form-select", @required = "required" })
        @Html.ValidationMessageFor(model => model.MaterialId, "", new { @class = "text-danger" })
    </div>

    <button class="btn btn-primary" style="margin-top:25px" type="submit">@Localization.Add</button>
    <a class="btn btn-secondary" style="margin-top:26px" href="@Url.Action("Index")">@Localization.BackToList</a>
</form>


